body {
    background-color: #0055aa;
  }
  
  .Titulo{
     
      border-style : outset;
      border-color: rgb(0, 255, 217);
      border-radius : 1px;
      border-width : 3px ;
      color : rgb(0, 0, 0);
    }
  
  .Borde{
     
      border-style : unset;
      border-color: rgb(108, 110, 129);
      border-radius : 2px;
      border-width : 2px ;
      color : rgb(113, 113, 113);
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #210303;
    margin: 10px 0;
    font-family: Arial, sans-serif;
  }